/* nav style sheets */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
  font-family: 'Times New Roman', Times, serif;
  height: 120px;
  background-color: #4056A1;
  color: #fff;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav .tweeter {
  /* margin-left: 1.5em; */
  font-family: Bungee, sans-serif;
}

.compose-tweet-button {
  cursor: pointer;
  background-color: #4056A1;
  border: transparent;
  color: antiquewhite;

}