
body .container .the-form {
  display: flex;
  flex-direction: column;
}

body .container .new-tweet {
  width: 100%
}

/* Styling for the tweet button */
body .container .new-tweet .tweet-button {
  font-family: Bungee, sans-serif;
  color: aliceblue;
  background-color: #4056A1;
  border: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Styling for the 140 Character Limit Counter*/
body .container .new-tweet .counter {
  display: inline-block;
  font-family: Bungee, sans-serif;
}

/* Styling for the input text box */
body .container .new-tweet .tweet-text {
  background: transparent;
  border: none;
  border-bottom: 3px solid #545149;
  margin-bottom: 10px;
}


body .container .new-tweet .button-container {
  display: flex;
  justify-content: space-between;
}
