
body .container .the-form {
  display: flex;
  flex-direction: column;
}

body .container .new-tweet {
  width: 100%
}

/* Styling for the tweet button */
body .container .new-tweet .tweet-button {
  cursor: pointer;
  font-family: Bungee, sans-serif;
  color: aliceblue;
  background-color: #4056A1;
  border: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Styling for the 140 Character Limit Counter*/
.counter {
  display: inline-block;
  font-family: Bungee, sans-serif;
  color: #545149;
}

/* Styling for the input text box */
body .container .new-tweet .tweet-text {
  background: transparent;
  border: none;
  border-bottom: 3px solid #545149;
  margin-bottom: 10px;
}


body .container .new-tweet .button-container {
  display: flex;
  justify-content: space-between;
}

/* If a tweet is over the length of max character, this is the error message */
.error-tweet-length-class {
  visibility: hidden;
  border: 3px solid #ff0000;
  font-style: italic;
  color: #ff4242;
  padding-top: 0.5em;
  padding-left: auto;
  padding-bottom: 0.5em;
}


/* Laptop/Desktop miniimum width of 1024px */
@media only screen and (min-width: 1024px) {
  
  .error-tweet-length-class {
    display: flex;
    visibility: hidden;
  }

  .error-box {
    margin-top: 6.3em;
  }
  
}


/* Class for JS */
.red-text {
  color: red;
}

.show-error {
  visibility: visible;
}

